<!--The content below is only a placeholder and can be replaced.-->
<div id=header-div>
    <img src='assets/top-left.jpg' alt='Sai Baba Image' id='image-size'/>
    <div class='header-d'>
        <h1 class='header-h'>{{pageTitle}}</h1>
        <p class='address'>{{addressLine1}}{{addressLine2}}</p>
    </div>
    <img src='assets/top-right-image.jpg' alt='Sai Baba Image' id='image-size'/>
</div>
<side-menu></side-menu>
<div>
<!-- <vertical-menu></vertical-menu> -->
<main-screen></main-screen>
</div>
