<!--The content below is only a placeholder and can be replaced.-->
<div id=header-div>
    <img src='https://scontent-iad3-1.xx.fbcdn.net/v/t31.0-8/19667782_572363279818043_2677841758855374948_o.jpg?oh=1014f8af10a778bc4c8d2c60c48e9859&oe=5A23DB22' alt='Sai Baba Image' id='image-size'/>
    <div class='header-d'>
        <h1 class='header-h'>{{pageTitle}}</h1>
        <p class='address'>{{addressLine1}}{{addressLine2}}</p>
    </div>
    <img src='https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/20430150_588911381496566_4588441685600195380_n.jpg?oh=8762e668c49aa394d4389c2633d4aac3&oe=5A1CF7A6' alt='Sai Baba Image' id='image-size'/>
</div>
<side-menu></side-menu>
<div>
<vertical-menu></vertical-menu>
</div>
