/* You can add global styles to this file, and also import other style files */
*{
    box-sizing: border-box;
  }
  
  body{
    width:100%;
    font-family: 'Open Sans',sans-serif;
    color:#333;
    margin:0;
  }